* {
    font-family: 'Asul', Verdana, Geneva, Tahoma, sans-serif;
}

/* Home page Styling */
.forms {
    width: 100%;
    height: 20%;
    background-color: goldenrod;
    text-align: center;
}

.forms > h1 {
    padding-top:30px;
}

/* Contact Form Styling */
.myForm {
    margin-top: 15px;
    width: 100%;
    margin-left: 30px;
}

.form_container {
    display: flex;
    margin-top: 20px;
    font-size: 22px;
    color:goldenrod;
}

.form_elements {
    background-color: blueviolet;
    width: 100%;
    margin-left: 30px;
    padding-bottom: 15px;
}

.map {
    margin-right: 20px;
    width: 75%;
}

/* Footer Styling */
footer {
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top:5px;
}

/* Media Query */
@media only screen and (max-width : 680px) {
    .form_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .form_elements {
        width: 100%;
        margin-left: 0px;
        padding-bottom: 18px;
    }

    .map {
        width: 100%;
        margin: 0px;
    }

    input[type=text], [type="email"], [type="tel"],textarea {
        width: 75%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
}